body{
    text-align: center;
    background-color: #E5E0FA;
}

h1{
    text-shadow: 2px 3px 1px white;
    color: #29157E;
    font-family: 'Fredoka One', cursive;
}

p{
  text-size: 17px;
  font-family: 'Boogaloo', cursive;
}

.quotes{
    font-size: 20px;
    font-family: 'Contrail One', cursive;
}

.songs{
   text-decoration: underline;
   text-transform: uppercase;
   font-size: 24px;
   font-family: 'Concert One', cursive;
   background-color: #8C78E8;
}

#nuketown{
    font-size: 10px;
    font-family: 'Baloo Thambi', cursive;
}

#dftl{
    font-size: 15px;
    font-family: 'Baloo Thambi', cursive;
}
    
#irm{
    font-size: 13px;
    font-family: 'Baloo Thambi', cursive;
}

#mp{
    font-size: 14px;
    font-family: 'Baloo Thambi', cursive;
}
