body{
    text-align: center
}

h1{
    text-shadow: 2px 3px 1px black;
    color: red;
}

p{
  text-size: 20px  
}

.quotes{
    font-size: 24px;
}

.songs{
   text-decoration: underline;
   text-transform: uppercase;
   font-size: 30px;
}

#nuketown{
    font-size: 10px;
}

#dftl{
    font-size: 15px;
}
